# MongoDB connection string
# Local: mongodb://127.0.0.1:27017/hackathon-ai-welfare
# Atlas: mongodb+srv://<user>:<pass>@cluster.mongodb.net/hackathon-ai-welfare
MONGODB_URI=mongodb://127.0.0.1:27017/hackathon-ai-welfare
